<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

    <ul>



  <%if (typeof(user) != 'undefined') { %>
    <header>
      <% include ./partials/_header %>
    </header>
    <a href = '/urls/new' >Create New Short URL</a>
    <% for (var url in urls) { %>
      <li> <a href = '<%=urls[url].longURL%>' ><%=url%></a> - <%=urls[url].longURL%> - <a href='#'> Shorten Link </a>
      <form method="POST" action="/urls/<%=url%>/delete"><button type="submit">Delete</button></form><form method="GET" action="/urls/<%=url%>"><button type="submit">Edit</button></form>
      </li>

<% } %>
<% } else { %>

 Please <a href = '/login' >Sign In</a> or <a href = '/register' >Register</a>

<% } %>
    </ul>
</body>
</html>


